DJANGO_SECRET_KEY=replace-with-a-random-secret-at-least-50-characters-long
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,testserver
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@example.com